body{
    font-family: Arial;
  }
  .contenedor {
    border-radius: 30px;
    padding:20px;
    background-color: #D3D7CF;
  }
  .titulo {
    text-align:center;
  }
  .tareas {
    background-color: white;
    border-radius: 30px;
    padding:10px;
  }
  .date {
      font-size: 0.4em;
      text-align: right;
      padding-left:40%;
  }